html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
                                                             /*!*Header Css*!Box1*/
.box1{
    width:940px;
    margin:0 auto;
    position:relative;
    text-align:center;
    height:90px;
}

.header{
      background:white;
      width:100%;
      height:90px;
      padding-bottom: 10px;
    text-align: center;
}

.logo{
    margin-bottom: 5px ;
    display: inline-block;
    position:absolute;
    bottom:0;
    left: 0;
}

.login{
    display:inline-block;
    position:absolute;
    top:0;
    right:0;
    width:150px;
    height: 90px;
}

.language{
    color: dimgray;
    position:absolute;
    top:0;
    right:111px;
    border-style:hidden;
    background:white;
    padding:0;
    margin-top:10px;
}

.line1{
    position:absolute;
    top: 0;
    right: 105px;
    margin-top:10px;
    color: darkgrey;
}

.costumer{
    color: dimgray;
    position: absolute;
    top:0;
    width:100px;
    right:0;
    font-size:10px;
    line-height:15px;
    font-weight:bold;
    margin-top:10px;
}

.search{
    position:absolute;
    right:0;
    bottom:0;
    width:140px;
    height:15px;
    border-radius: 90px;
    margin-bottom: 5px;
}

.line{
    position: absolute;
    bottom:0;
    right: 30px;
    color: darkgrey;
    margin-bottom: 5px;
}

.search_logo{
    position: absolute;
    bottom:0;
    right:0;
    border: none;
    margin-left:10px;
}

.language{
    display: inline-block;
}

.top_menu{
    margin-bottom: 5px;
    display: inline-block;
    width: 650px;
    margin-top:0;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    bottom:0;
    right:130px;

}

.top_buttoms{
    font-size: 14px;
    display: inline-block;
    padding-right: 5px;
    padding-left:0;
    text-align: center;
    padding-top: 0;
    padding-bottom:0px;
}

.menu_titles {
    position: relative;
    color: gray;
    padding:15px 10px;
    font-weight:bolder;

}

.pop{
    display: none;
    overflow: auto;
    width: 940px;
    padding:0;
    margin-top:17px;
    position:absolute;
    right: -132px;
}

.popindad{
    float: left;
    height: 40px;
     width:250px;
    margin-top: 20px;
}

.popin{
    margin:3px 20px;
    padding: 2px;
    float: left;
    font-size: 15px;
}

.picin{
    float: right;
    padding: 10px 20px;
    padding-left: 55px;
    margin: 15px 20px;
    border-left: 1px solid lightgray;
    clear: both;

}
.line2{
    padding-left: 0;
    padding-top: 0;
    padding-bottom:0;
    padding-right: 0;
}


                                                      /*Header Hover Css*/
.menu_titles:hover {
    z-index:5;
    border: 1px lightgray solid;
    border-bottom:0;
    box-shadow:-5px 9px 8px rgba(0,0,0,0.4);
    margin-bottom:0;
    padding-bottom: 20px;
    background: white;
}

.top_buttoms:hover .pop {
    background:white;
    z-index:10;
    display:inline-block;
    border: none;
    border-top:0 ;
    box-shadow: -5px 9px 8px rgba(0,0,0,0.4);
}


                                                           /*section_one!*Body/ Box2*!*/
.one {
    height: 540px;
    background-image: url(img/slide-bg-complexity.jpg);
    background-position: -570px ;
    background-attachment: fixed;
}
.box2{
    position:relative;
    width:940px;
    margin:0 auto;
    text-align:left;
}
h1{
    position:absolute;
    display: inline-block;
    left: 0;
    font-size:50px;
    margin-top: 45px;
    color: white;
}

.sub_title{
    position:absolute;
    bottom: -210px;
    margin: 20px 0 20px 0;
    left: 0;
    font-size:22px;
    color: white;
}
.sub_title1{
    position: absolute;
    bottom: -219px;
    left: 0;
    font-size:22px;
    color: white;
}
.learn_more{
    position: absolute;
    bottom: -275px;
    width: 173px;
    height: 32px;
    background:#1D8DC6;
    border-radius: 90px;
    border: none;
    color: white;
    text-align:left;
}
.checkbox{
    position: absolute;
    display: inline-block;
    bottom: -310px;
    left: 0;
}
.color_boxes1{
    position: absolute;
    display: inline-block;
    bottom: -515px;
    width: 268px;
    height: 170px;
    opacity: 0.9;
    padding: 12px;
    padding-bottom: 0;
    background-color:#FA429D ;
}
.color_boxes2{
    position: absolute;
    display: inline-block;
    bottom: -515px;
    width: 268px;
    height: 170px;
    opacity: 0.9;
    padding: 12px;
    padding-bottom: 0;
    background-color:#6AC43D ;
    left: 340px;
}
.color_boxes3{
    position: absolute;
    display: inline-block;
    bottom: -515px;
    width: 268px;
    height: 170px;
    opacity: 0.9;
    padding: 12px;
    padding-bottom: 0;
    background-color:#FF710F ;
    left: 680px;
}
.text_in_color_box{
    color:white;
    font-size:25px;
}

                                                       /*Box2/Hover*/

.color_boxes1:hover,.color_boxes2:hover,.color_boxes3:hover{
    opacity:1;
}

                                                  /*body!*section_two/box3*!*/

.two{
    background-color: #409FC6;
    height: 400px;

}
