html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
                                                             /*!*Header Css*!Box1*/
.box1{
    width:940px;
    margin:0 auto;
    background:;
    position:relative;
    text-align:center;
    height:90px;
}
.header{
      background:white;
      width:100%;
      height:90px;
      padding-bottom: 10px;
    text-align: center;
}
.logo{
    margin-bottom: 5px ;
    display: inline-block;
    position:absolute;
    bottom:0;
    left: 0;
}
.login {
    display:inline-block;
    position:absolute;
    top:0;
    right:0;
    width:150px;
    height: 90px;
}
.language{
    color: dimgray;
    position:absolute;
    top:0px;
    right:111px;
    border-style:hidden;
    background:white;
    padding:0;
    margin-top:10px;
}
.line1{
    position:absolute;
    top: 0;
    right: 105px;
    margin-top:10px;
    color: darkgrey;
}
.costumer{
    color: dimgray;
    position: absolute;
    top: 0px;
    width:100px;
    right: 0px;
    font-size:10px;
    line-height:15px;
    font-weight:bold;
    margin-top:10px;
}
.search{
    position:absolute;
    right:0;
    bottom:0;
    width:140px;
    height:15px;
    border-radius:90px;
    margin-bottom: 5px;
}
.line{
    position: absolute;
    bottom: 0px;
    right: 30px;
    color: darkgrey;
    margin-bottom: 5px;
}
.search_logo{
    position: absolute;
    bottom: 0px;
    right: 0px;
    border: none;
    margin-left:10px;
}
.language{
    display: inline-block;
}
.top_menu{
    margin-bottom: 5px;
    display: inline-block;
    width: 600px;
    margin-top: 0px;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    bottom:0px;
    right:155px;
}
.top_buttoms{
    font-size: 14px;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    padding-top: 0;
    padding-bottom:0 ;
}
.menu_titles{
    position: relative;
    color: gray;
}
.pop{
    display: none;
    overflow: auto;
    text-align: center;
    width: 940px;
    padding: 0px;
    margin-top: 17px;
    position:absolute;
    right: -155px;
}
.popindad{
    float: left;
    height: 40px;
     width:250px;
    margin-top: 20px;
}

.popin{
    margin:3px 20px;
    padding: 2px;
    float: left;
    font-size: 15px;

}

.picin{
    float: right;
    padding: 10px 20px;
    padding-left: 55px;
    margin: 15px 20px;
    border-left: 1px solid gray;
    clear: both;

}
.line2{
    padding-left: 12px;
    padding-top: 0px;
    padding-bottom:0px;
    padding-right: 0px;
}


                                                      /*Header Hover Css*/
.menu_titles:hover {
    z-index:5;
    border: 1px lightgray solid;
    border-bottom: 0px;
    box-shadow:-5px 9px 8px rgba(0,0,0,0.4);
    height: ;

}
.menu_titles:hover ~ .pop {
    background:white;
    z-index:5;
    display:inline-block;
    border: none;
}

                                                           /*Body/ Box2*/
.box2{
    height: 540px;
    /*background: orange;*/
    background-image:url(img/slide-bg-complexity.jpg);